[package]
name = "maybenot"
version = "1.0.1"
edition = "2021"
authors = ["Tobias Pulls <tobias@pulls.name>"]
license = "MIT OR Apache-2.0"
homepage = "https://maybenot.io"
description = "A framework for traffic analysis defenses"
keywords = [ "anonymity", "correlation", "fingerprinting", "privacy", "security" ]
categories = [ "cryptography", "network-programming" ]
repository = "https://github.com/maybenot-io/maybenot"

[dependencies]
rand="0.8.5"
byteorder="1.4.3"
simple-error = "0.3.0"
hex = "0.4.3"
libflate = "2.0.0"
ring = "0.16.20"
rand_distr = "0.4.3"
serde = {version = "1.0.185", features = ["derive"]}
